<launch>
    
  <!-- RESET ODOMETRY -->
  <node pkg="rostopic" type="rostopic" name="reset_odom" args="pub /mobile_base/commands/reset_odometry std_msgs/Empty"/>
    
    
  <!-- TF BROADCASTER -->
  <node pkg="tf" type="static_transform_publisher" name="base_tf_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 base_footprint base_link 100" />

    
    
  <!-- MAP SERVER -->
  <!-- Map of the environment -->
  <arg name="map_file" default="$(find turtlebot_visual_navigation)/map/map_aip_full.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!-- Markers positions on the map -->
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_0" args="3.826 -0.720 0.31 0.0 0.0 1.0 -0.009 map marker_0 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_1" args="2.590 -5.707 0.31 0.0 0.0 0.990 0.144 map marker_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_2" args="-0.949 -0.891 0.31 0.0 0.0 -0.792 0.611 map marker_2 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_3" args="-1.808 -4.031 0.31 0.0 0.0 0.608 0.793 map marker_3 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_4" args="-5.503 0.251 0.31 0.0 0.0 -0.086 0.996 map marker_4 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_5" args="-6.086 -1.588 0.31 0.0 0.0 -0.105 0.994 map marker_5 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_6" args="-6.343 -2.841 0.31 0.0 0.0 -0.144 0.989 map marker_6 100" />
  <node pkg="tf" type="static_transform_publisher" name="marker_tf_publisher_7" args="-10.311 0.256 0.31 0.0 0.0 -0.117 0.993 map marker_7 100" />

  

  <!-- MOVE BASE -->
  <include file="$(find turtlebot_visual_navigation)/launch/includes/move_base.launch.xml">
    <!--<arg name="custom_param_file" value="$(arg custom_param_file)"/> -->
  </include>
    
    

	<arg name="marker_size" default="20" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="cam_image_topic" default="/camera/depth_registered/points" />
	<arg name="cam_info_topic" default="/camera/depth_registered/camera_info" />
	<arg name="output_frame" default="/camera_rgb_optical_frame" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>


  <!-- RVIZ CONFIGURATION -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot_visual_navigation)/config/localisation.rviz" />

</launch>

